@charset "utf-8";
/* CSS Document */
body{
	margin: 0 auto;
	margin:0px;
	padding:0px;
	overflow-x: hidden;

}

ul,dl,ol,li{
	margin:0px; padding:0px;
}

ul,ol{
	list-style:none;
}
li{
	list-style-type:none;
}